.scaredrelic-facebar-cel {
    position:absolute;
    left:50%;
    bottom:25px;
    margin:0 0 0 -130px;
    width:266px;
    height:193px;
}

.scaredrelic-facebar-cel .iframe {
    width:266px;
    height:193px;
    z-index:-1;
    position:absolute;
    left:0;
    bottom:0;
}

.scaredrelic-facebar-cel .scaredrelic-facebar-faceconn {
    border:1px solid #d7d7d7;
    background:#fff;
    width:266px;
    height:193px;
}
.scaredrelic-facebar-cel .scaredrelic-facebar-faceconn .i {
    font-family:\5B8B\4F53;
    font-size:12px;
    color:#d7d7d7;
    position:absolute;
    bottom:-9px;
    left:50%;
    display:block;
    margin:0 0 0 -6px;
}
.scaredrelic-facebar-cel .scaredrelic-facebar-faceconn .i i {
    color:#e9e7e4;
    position:absolute;
    bottom:1px;
    left:0;
}
.scaredrelic-facebar-cel .scaredrelic-facebar-wrap {
    margin:5px 2px 3px 5px;
    height:157px;
    width:259px;
    overflow:hidden;
    position:relative;
}
.scaredrelic-facebar-cel .face_list {
    border:1px solid #d3e4f0;
    border-bottom:0;
    border-right:0;
    background:#f6fbfe;
    width:248px;
    position:relative;
}
.scaredrelic-facebar-cel .face_list li {
    float:left;
    width:30px;
    height:30px;
    line-height:30px;
    text-align:center;
    border-right:1px solid #d3e4f0;
    border-bottom:1px solid #d3e4f0;
}
.scaredrelic-facebar-cel .face_list li img {
    vertical-align:middle;
}
.scaredrelic-facebar-cel .face_list li a {
    width: 100%;
    height: 100%;
    display: block;
}
.scaredrelic-facebar-cel .face_list a:hover,.scaredrelic-facebar-cel .face_list a.hover {
    background:#fff;
    border:1px solid #4ca0d9;
    margin:-1px 0 0 -1px;
    position:relative;
    zoom:1;
}
.scaredrelic-facebar-cel .face_list_32 {
    width:250px;
}
.scaredrelic-facebar-cel .face_list_32 li {
    width:49px;
    height:45px;
    line-height:45px;
}
.scaredrelic-facebar-cel .face_list_50 li{
    width:61px;
    height:61px;
    line-height:61px;
}
.scaredrelic-facebar-cel .scaredrelic-facebar-all {
    background:url(../../resources/themes/default/images/face_bgx.png) repeat-x;
    height:28px;
    padding:0 0 0 3px;
}
.scaredrelic-facebar-cel .scaredrelic-facebar-all li {
    background:url(../../resources/themes/default/images/face_bgx.png) no-repeat 0 -28px;
    width:38px;
    height:28px;
    line-height:28px;
    text-align:center;
    float:left;
}
.scaredrelic-facebar-cel .scaredrelic-facebar-all li img {
    vertical-align:middle;
}
.scaredrelic-facebar-cel .scaredrelic-facebar-all li.cur {
    background:url(../../resources/themes/default/images/face_bgx.png) no-repeat 0 -28px #fff;
}
.ie6 .scaredrelic-facebar-cel .face_list li img,.ie6 .pop_face .scaredrelic-facebar-all li img{
    margin:3px 0;
}
.ie6 .scaredrelic-facebar-cel .face_list_32 li img {
    margin:6px 0;
}
.ie6 .scaredrelic-facebar-cel .face_list_50 li img {
    margin:5px 0;
}
.ie6 .chat_item .chat_txt .i {
    left:-15px;
}